@import ./_colors

.my_card
  display: flex
  flex-direction: column
  align-items: center
  background: var(--color-white)
  width: 500px
  border-radius: var(--card-border-radius)
  padding: var(--card-padding)
  text-align: center
  box-shadow: var(--box-shadow)
  transition: all 300ms ease
  &:hover
    box-shadow: none
  a
    text-align: justify
    display: block
    margin: 1rem auto
    color: var(--color-primary)
  button
    height: 40px
