@import ./_colors

.inputBox
  position: relative
  & label
    position: absolute
    left: 0
    padding: 1em 7em 1em 1em
    pointer-events: none
    font-size: 1em
    font-weight: 500
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93)
    color: var(--color-primary)
    overflow: hidden
    text-overflow: ellipsis
  & input
    padding: 1em 5em 1em 1em
    outline: none
    background: transparent
    border-radius: 0.25em
    background-color: var(--color-white)
    color: var(--color-primary-variant)
    border: 1px solid var(--color-white)
    font-size: 1em
    &:focus
      border: 1px solid var(--color-primary)
    &:focus ~ label,
    &:valid ~ label,
    &:disabled ~ label
      font-size: 0.7em
      color: var(--color-white)
      transform: translateX(14px) translateY(-7.5px)
      padding: 0 5px
      border-radius: 0.25em
      background: var(--color-primary)
    &:disabled
      opacity: 0.6
      &~label
        color: var(--color-primary-variant)
        opacity: 0.6
    &.disable-label ~ label
      font-size: 0.7em
      color: var(--color-white)
      transform: translateX(14px) translateY(-7.5px)
      padding: 0 5px
      border-radius: 0.25em
      background: var(--color-primary)

.selectBox
  position: relative
  display: flex
  flex-direction: column
  max-width: 270px
  margin-bottom: 0.9rem
  & label
    width: fit-content
    font-size: 0.7em
    color: var(--color-white)
    transform: translateX(14px) translateY(7.5px)
    padding: 0 5px
    border-radius: 0.25em
    background: var(--color-primary)
    z-index: 1
  & select
    padding: 1em 5em 1em 1em
    outline: none
    background: transparent
    border-radius: 0.25em
    background-color: var(--color-white)
    color: var(--color-primary-variant)
    border: 1px solid var(--color-white)
    font-size: 1em
  &.disabled
    opacity: 0.65
    .title-selectBox
      color: var(--color-primary-variant) !important
