@import ../app/_colors
.container_admin
  display: flex
  width: 100%
  height: 100vh
  flex-direction: row
  background-color: $tertiaryColor
  .sidebar_section
    width: 20%
    display: flex
    flex-direction: column
    .top_section,
    .body_section
      display: flex
      width: 100%
      flex-direction: column
    .top_section
      height: 20%
    .body_section
      height: 80%
  .pages_section
    width: 80%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    .top_pages,
    .body_pages
      display: flex
      width: 100%
      flex-direction: column
      align-items: center
    .top_pages
      height: 20%
    .body_pages
      height: 80%

.card_admin
  width: 95%
  height: 100%
  margin: 1em
  border-radius: 1em
  background-color: $secondaryColor