@charset "UTF-8";
:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.inputBox {
  position: relative;
}
.inputBox label {
  position: absolute;
  left: 0;
  padding: 1em 5em 1em 1em;
  pointer-events: none;
  font-size: 1em;
  font-weight: 500;
  transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
  color: var(--color-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}
.inputBox input {
  width: 270px;
  padding: 1em 1em 1em 1em;
  outline: none;
  background: transparent;
  border-radius: 0.25em;
  background-color: var(--color-white);
  color: var(--color-dark-variant);
  border: 1px solid var(--color-white);
  font-size: 1em;
}
.inputBox input:focus {
  border: 1px solid var(--color-primary);
}
.inputBox input:focus ~ label, .inputBox input:valid ~ label, .inputBox input:disabled ~ label {
  font-size: 0.7em;
  color: var(--color-white);
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 5px;
  border-radius: 0.25em;
  background: var(--color-primary);
}
.inputBox input:disabled {
  opacity: 0.6;
}
.inputBox input:disabled ~ label {
  color: var(--color-primary-variant);
  opacity: 0.6;
}
.inputBox input.disable-label ~ label {
  font-size: 0.7em;
  color: var(--color-white);
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 5px;
  border-radius: 0.25em;
  background: var(--color-primary);
}

.selectBox {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin-bottom: 0.9rem;
}
.selectBox label {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.7em;
  color: var(--color-white);
  transform: translateX(14px) translateY(7.5px);
  padding: 0 5px;
  border-radius: 0.25em;
  background: var(--color-primary);
  z-index: 1;
}
.selectBox select {
  padding: 1em 5em 1em 1em;
  outline: none;
  background: transparent;
  border-radius: 0.25em;
  background-color: var(--color-white);
  color: var(--color-primary-variant);
  border: 1px solid var(--color-white);
  font-size: 1em;
}
.selectBox.disabled {
  opacity: 0.65;
}
.selectBox.disabled .title-selectBox {
  color: var(--color-primary-variant) !important;
}

.autocomplete input {
  width: 270px;
}

.inputColor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 50px;
  padding: 0 1rem;
}
.inputColor label {
  color: var(--color-primary);
}
.inputColor input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  height: auto;
  background: transparent;
  cursor: pointer;
}
.inputColor input::-webkit-color-swatch {
  text-align: center;
  border-radius: var(--border-radius-l);
  height: 2rem;
  width: 2rem;
  border: none;
}
.inputColor input:hover {
  opacity: 0.5;
}
.inputColor i {
  font-size: 2rem;
  color: var(--color-primary);
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.my_button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 3em;
  border-radius: 0.25em;
  color: var(--color-white);
  font-weight: 600;
  letter-spacing: 0px;
  background-color: var(--color-primary);
  border: solid 1px var(--color-primary);
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.my_button:hover {
  background-color: var(--color-white);
  color: var(--color-primary-variant);
  border: 1px solid var(--color-primary-variant);
  transform: translateY(-4px);
}
.my_button i {
  font-size: 1.5rem;
}

.my_button_loader {
  position: relative;
  display: grid;
  place-items: center;
  padding: 1em 5em;
  border-radius: 0.25em;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: var(--color-white);
  color: var(--color-primary-variant);
  border: 1px solid var(--color-primary-variant);
  transform: translateY(-4px);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.my_button_loader .load {
  width: 2em;
  height: 2em;
  border: 4px solid var(--color-primary);
  border-top: 4px solid var(--color-primary-variant);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.filtro {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.filtro h5 {
  color: var(--color-dark-variant);
  margin: 0 1rem;
}

.my_table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.my_table:hover {
  box-shadow: none;
}
.my_table a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}
.my_table .body_table td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
.my_table .body_table tr:last-child td {
  border: none;
}
.my_table .body_table tr .editable:hover {
  color: var(--color-primary-variant) !important;
  cursor: pointer;
}

.color-table {
  color: var(--color-dark);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-l);
  border: 1px solid var(--color-dark);
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.block-windows {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3411764706);
}
.block-windows .container-windows {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-windows .container-windows .form-windows {
  background-color: var(--color-background);
  color: black;
  text-align: center;
  border-radius: 29px;
}
.block-windows .container-windows .form-windows .form-windows__title {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-windows .container-windows .form-windows .form-windows__title .title__text {
  font-weight: 800;
  width: 100%;
  padding-left: 4%;
  text-transform: uppercase;
}
.block-windows .container-windows .form-windows .form-windows__title .title__icon {
  margin: -2px 15px 0px 0px;
  color: var(--color-dark);
  font-size: 1.5rem;
  cursor: pointer;
}
.block-windows .container-windows .form-windows .control-windows {
  width: 100%;
  height: 90%;
}

.container_modal {
  height: 100%;
}
.container_modal .form-modal {
  display: grid;
  height: 100%;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.container_modal .form-modal button[type=submit] {
  grid-column: 1/3;
  justify-self: center;
}
.container_modal .form-modal button[type=button] {
  grid-column: 1/3;
  justify-self: center;
}
.container_modal.big .form-modal {
  display: grid;
  height: 100%;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.container_modal.big .form-modal button[type=submit] {
  grid-column: 2/3;
  justify-self: center;
}
.container_modal.big .form-modal button[type=button] {
  grid-column: 2/3;
  justify-self: center;
}
.container_modal .modal_warning {
  color: var(--color-success);
}
.container_modal .modal_warning span {
  color: var(--color-dark-variant);
}
.container_modal .mini_form {
  height: 100%;
  display: grid;
  gap: 2rem;
  place-items: center;
}
.container_modal .mini_form .success_title {
  padding: 5px;
  background: var(--color-success);
  border-radius: var(--border-radius-l);
}
.container_modal .mini_form h5 {
  padding: 5px;
  background: var(--color-danger);
  border-radius: var(--border-radius-l);
}
.container_modal .mini_form p {
  text-align: center;
}
.container_modal .mini_form .group_button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.container_modal .mini_form .info_top {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.container_modal .mini_form .form-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container_modal.reasign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.divider {
  width: 100%;
  margin: 1rem;
  border: 1px solid var(--color-info-light);
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.select_container {
  display: flex;
  flex-direction: column;
}
.select_container label {
  color: var(--color-primary);
  padding: 0.1rem 0;
}
.select_container .select_options {
  display: inline-block;
  position: relative;
}
.select_container .select_options::after {
  content: "⌵";
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 2rem;
  color: grey;
  pointer-events: none;
}
.select_container .select_options select {
  width: 270px;
  height: 3.2rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-dark-variant);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2rem;
  border-radius: 0.25em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  cursor: pointer;
}
.select_container .select_options select:focus {
  background-color: var(--color-white);
  outline: 0;
  line-height: 2;
  border: 1px solid var(--color-primary);
}
.select_container .select_options select:disabled {
  opacity: 0.6;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

ul {
  list-style: none;
  z-index: 1000;
}

.list_autocomplete {
  position: absolute;
  width: 270px;
  background-color: var(--color-white);
  color: var(--color-dark);
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}
.list_autocomplete .autocomplete_items {
  padding: 8px 5px;
}
.list_autocomplete .autocomplete_items:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
.list_autocomplete .autocomplete_items:last-child:hover {
  border-radius: 0 0 5px 5px;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.my_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-white);
  width: 500px;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.my_card:hover {
  box-shadow: none;
}
.my_card a {
  text-align: justify;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}
.my_card button {
  height: 40px;
}
.my_card .item_card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dashboard {
  width: 100%;
  height: 100vh;
  font-size: 0.88rem;
  background: var(--color-background);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}
.dashboard .container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary) !important;
}

.danger {
  color: var(--color-danger) !important;
}

.success {
  color: var(--color-success) !important;
}

.warning {
  color: var(--color-warning) !important;
}

.green {
  color: #00E615 !important;
}

.disable-text {
  color: var(--color-primary-variant) !important;
}

.editable:hover {
  color: var(--color-primary-variant) !important;
  cursor: pointer;
}

aside {
  height: 100vh;
}
aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
  gap: 0.8rem;
}
aside .logo img {
  width: 2rem;
  height: 2rem;
}
aside .close {
  display: none;
}
aside h3 {
  font-weight: 500;
}

/*SIDEBAR*/
.sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
.sidebar a {
  display: flex;
  text-decoration: none;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  cursor: pointer;
}
.sidebar a i {
  font-size: 1.6rem;
  transition: all 300ms ease;
}
.sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
.sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
.sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}
.sidebar a.active i {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}
.sidebar a:hover {
  color: var(--color-primary);
}
.sidebar a:hover i {
  margin-left: 1rem;
}
.sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-l);
}

/* MAIN */
.main {
  margin-top: 1.4rem;
  /*RECENT ORDERS*/
}
.main .date {
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-l);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}
.main .date input[type=date] {
  background: transparent;
  color: var(--color-dark);
}
.main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.main .insights > div:hover {
  box-shadow: none;
}
.main .insights > div i {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
.main .insights > div.expenses i {
  background: var(--color-danger);
}
.main .insights > div.income i {
  background: var(--color-success);
}
.main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}
.main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .insights svg {
  width: 7rem;
  height: 7rem;
}
.main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}
.main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
.main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
.main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}
.main .insights small {
  margin-top: 1.3rem;
  display: block;
}
.main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
.main table tbody tr:last-child td {
  border: none;
}
.main .recent-orders {
  margin-top: 2rem;
}
.main .recent-orders h2 {
  margin-bottom: 0.8rem;
}
.main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.main .recent-orders table:hover {
  box-shadow: none;
}
.main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

/* RIGHT */
.right {
  margin-top: 1.4rem;
  /* RECENT UPDATES */
  /* SALES ANALYTICS */
}
.right .top {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.right .top button {
  display: none;
}
.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}
.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-l);
}
.right .theme-toggler i {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler i.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-l);
}
.right .recent-updates {
  margin-top: 1rem;
}
.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}
.right .sales-analytics {
  margin-top: 2rem;
}
.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}
.right .sales-analytics .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .sales-analytics .item:hover {
  box-shadow: none;
}
.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}
.right .sales-analytics .item.offline .icon {
  background: var(--color-danger);
}
.right .sales-analytics .item.customers .icon {
  background: var(--color-success);
}
.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}
.right .sales-analytics .add-product:hover {
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem !important;
  }
  aside .top {
    justify-content: center;
    margin-right: 1rem;
  }
  aside .logo h2 {
    display: none;
  }
  aside .sidebar h3 {
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  .main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .main .recent-orders {
    background: var(--color-background);
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main .recent-orders table {
    width: 83vw;
  }
  .main table thead tr th:last-child,
  .main table thead tr th:first-child {
    display: none;
  }
  .main table tbody tr td:last-child,
  .main table tbody tr td:first-child {
    display: none;
  }
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr !important;
  }
  .container aside {
    display: none;
  }
  .container .active-aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: block;
    animation: showMenu 400ms ease forwards;
  }
  .container .active-aside .logo {
    margin-left: 1rem;
  }
  .container .active-aside .logo h2 {
    display: inline;
  }
  .container .active-aside .sidebar h3 {
    display: inline;
  }
  .container .active-aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  .container .active-aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  .container .active-aside .close {
    display: inline-block;
    cursor: pointer;
  }
  .container .active-aside .close i {
    font-size: 2rem;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  .main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  .main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .main .recent-orders table {
    width: 100%;
    margin: 0;
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button i {
    font-size: 2rem;
  }
  .right .profile .info {
    display: none;
  }
  .pages {
    margin-top: 3rem;
  }
}
.pages {
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.pages h2 {
  font-weight: 800;
  font-size: 1.8rem;
}
.pages .table {
  width: 100%;
  margin: 3rem 0;
  display: grid;
  place-items: center;
}
.pages .table .create_registro {
  margin: 2rem 0;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.vehiculos .toggle_all {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.vehiculos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create_vehiculo {
  padding: 0;
  justify-content: center;
}
.create_vehiculo .autocomplete {
  margin: 0 1rem;
}

.container_modal.big .modal_create_vehiculo {
  height: 90%;
}
.container_modal.big .modal_create_vehiculo button[type=submit] {
  grid-column: 1/4;
  justify-self: center;
}

.suscripciones .toggle_all {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.suscripciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.propietarios .table .filtro .total {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: space-around;
}
.propietarios .table .filtro .total i {
  font-size: 1.5rem;
}

.solicitudes .message_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.solicitudes .toggle_all {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.configuracion .body_config {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
}
.configuracion .body_config .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 25rem;
}
.configuracion .body_config .item .item_left {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.configuracion .body_config .item .item_left h5 {
  margin: 0 1rem;
  color: var(--color-primary);
}
.configuracion .body_config .inputBox {
  margin: 1rem 0;
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.comprobantes .message_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.comprobantes .message_container h5 {
  color: var(--color-primary);
}

:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login .login_body {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-light);
}
.login .login_body img {
  margin-top: -10em;
  width: 15em;
}
.login .login_body h2 {
  color: var(--color-primary);
  padding: 1em 0;
  text-align: center;
}
.login .login_body .form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 303px;
}
.login .login_body .form h2 {
  color: var(--color-primary-variant);
  font-weight: bold;
  text-align: center;
}
.login .login_background {
  width: 50%;
  height: 100vh;
  background-image: url("/img/background_login.webp");
  background-size: cover;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --color-primary: #4CE5B1;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #276579;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-l: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader_container .loader {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader_container .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}
.loader_container .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: var(--color-danger);
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}
.loader_container .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: var(--color-primary);
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}
.loader_container .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}
.loader_container .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}/*# sourceMappingURL=style.css.map */